tomcat {
    // Use the eXo Platform JAAS login module
    org.exoplatform.services.security.jaas.StandaloneLoginModule required;
};
exo-domain {
    // Use the eXo Platform JAAS login module
    // The same as shown above, just another name
    org.exoplatform.services.security.jaas.StandaloneLoginModule required;
};